<!-- <!DOCTYPE html> -->

<!-- <html lang="en"> -->
<!-- <head> -->
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=NTR" rel="stylesheet">
  <style>
    *{
      color: white;
    }
    nav body{
      margin-bottom: 2%;
    }
    .nav-link{
      transition: all 0.5s;
    }
    .nav-link:hover{
      text-decoration: underline;
    }
    .blueBackGround{
      background-color: #5B86E5;
    }
    
  </style>
</head>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5B86E5; font-family:NTR;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-family: Comfortaa ; size: 3em;color: white;">Djasa</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#!/login" style="color: white;">Sign in</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#!/signup" style="color: white;" >Sign Up</a>
                </li>
              </ul>
            </ul>
          </div>
      </nav>
  <body style="font-family:NTR; background-color: #5B86E5">
    <div class="container">
      <div class="jumbotron blueBackGround">
          <h1 class="display-4">Aplikasi Penyedia Jasa </h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <a class="btn btn-primary btn-lg float-right" href="#" role="button">Learn more</a>
          </p>
      </div>
    </div>
  <!-- </body> -->
<!-- </html> -->
