<!-- <!DOCTYPE html> -->

<!-- <html lang="en"> -->
<!-- <head> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=NTR" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
    *{
      color: white;
    }
    nav body{
      margin-bottom: 2%;
    }
    .nav-link{
      transition: all 0.5s;
    }
    .nav-link:hover{
      text-decoration: underline;
    }
    .blueBackGround{
      background-color: #5B86E5;
    }
    .c3{
      height:170px;
      width: auto;/*maintain aspect ratio*/
      max-width:500px;
    }
  </style>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5B86E5; font-family:NTR;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-family: Comfortaa ; size: 3em;color: white;">Djasa</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#!/login" style="color: white;">Sign in</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#!/signup" style="color: white;" >Sign Up</a>
                </li>
              </ul>
            </ul>
          </div>
      </nav>
  <div style="font-family:NTR; background-color: #5B86E5">
    <div class="container">
      <div class="jumbotron blueBackGround">
        <div class="row">
            <div class="col">
              <h1 class="display-4">Aplikasi Penyedia Jasa </h1>
              <h2 class="lead">Dengan DJASA sekarang anda dapat membeli ataupun menjual Jasa secara Online, Dengan Mudah anda dapat mencari pekerjaan ataupun membuka lapangan pekerjaan baru bagi orang lain.</h2>
            </div>
            <img class="col" src="views/jasa.png" alt="create_account"></img>
        </div>
      </div>
      <div class="jumbotron blueBackGround">
        <h1 class="display-8" align="center">Langkah Mudah Bergabung dengan Djasa</h1>  
      </div>
      <div class="row">
          <div class="jumbotron blueBackGround col-4">
              <img class="c3" src="views/icon1.png" alt="create_account"></img>
              <h1 class="display-8" align="center">Buat Akun</h1>
              <p class="lead" align="center">Buat akun baru anda Gratis dan Cepat, cukup dengan menekan tombol Sign Up Daftarkan diri anda dengan menggunakan Email dan Nomor Telepon anda dan temukan bermacam-macam keuntungan-keuntungan yang dapat anda dapatkan </p>
          </div>
          <div class="jumbotron blueBackGround col-4">
              <img class="c3" src="views/icon2.png" alt="create_account"></img>
              <h1 class="display-8" align="center">Cari Djasa</h1>
              <p class="lead" align="center">Cari Jasa yang anda ingin beli dengan menggunakan search box yang akan dapat diakses setelah anda membuat akun ataupun login menggunakan account anda.</p>
          </div>
          <div class="jumbotron blueBackGround col-4">
              <img class="c3" src="views/icon4.png" alt="create_account"></img>
              <h1 class="display-8" align="center">Beli Djasa</h1>
              <p class="lead" align="center">Beli Jasa dari Penjual Jasa yang anda Inginkan, Lihat Ratingnya dan berikan Rating menurut anda sendiri terhadap penjual jasa tersebut. </p>
          </div>
          
      </div>
    </div>
  </div>
  <!-- </body> -->
<!-- </html> -->
