* {
    font-family: 'NTR', sans-serif;
    font-size: 20px;
}
.orange{
    background-color: orange;
    border-radius: 25px;
}
img {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50%;
    width: 55%;
}

#input-login-form {
    margin: auto;
    margin-top: 45%;
}

#button-login {
    border-radius: 30px;
}

#not-have-account {
    margin: 20px;
    text-align: right;
}

.form-control {
    border-radius: 30px;
}