* {
    font-family: 'NTR', sans-serif;
    font-size: 20px;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 30%;
    align-content: center;
}
#input-login-form {
    margin: auto;
    margin-top: 30px;
}

#button-login {
    border-radius: 30px;
}
*{
color: white;
animation-name: leftRightIn;
animation-duration: 1s;
}
@keyframes leftRightIn{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(2px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
#not-have-account {
    margin: 20px;
    text-align: right;
}
.form-control {
    border-radius: 30px;
}