* {
    font-family: 'NTR', sans-serif;
    animation-name: leftRightIn;
    animation-duration: 1s;
    font-size: 20px;
}

@keyframes leftRightIn{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(2px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40%;
    align-content: center;
}
#input-login-form {
    margin: auto;
    margin-top: 20px;
    /* vertical-align: middle; */
}

#button-login {
    border-radius: 30px;
}

#not-have-account {
    margin: 20px;
    text-align: right;
}

.form-control {
    border-radius: 30px;
}