*{
    font-family:'NTR', sans-serif;
}
.orange{
    background-color: orange;
    border-radius: 25px;
}
.pink{
    background-color: pink;
    border-radius: 25px;
}
.info{
    margin: 10px;
    padding: 10px;
    border: 2px solid lightgrey; 
    border-radius: 25px;
}
/* .avatar-big {
    vertical-align: middle;
    height: 25%;
    width: 100%;
} */
.avatar{
    vertical-align: middle;
    height: 15%;    
    width: 50%;
}

.font-ntr{
    font-family:'NTR', sans-serif;
}

.margin20{
    margin: 20px;
}

.container-cara{
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.goldColor{
    color:gold;
}
